<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <h3>Products</h3>
        {% for product in products %}
            {{ product.title }} - {{ product.price }} - {{ product.stock }} <br><hr>
        {% endfor %}
    </div>

    <h1>{{ paginator.num_pages }}</h1>
    <h1>My favourite programming language {{ pl }}</h1>

</body>
</html>